<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ AndroidManifest.xml
  ~
  ~ This file is a part of the Yandex Search for Android project.
  ~
  ~ (C) Copyright 2018 Yandex, LLC. All rights reserved.
  ~
  ~ Author: Viacheslav Smityukh <smityukh@yandex-team.ru>
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.smityukh.vkc">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>